.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  padding: 1rem;
  margin: 1rem;
  display: block;
}

.counter * {
  margin: 1rem;
  font-size: 2rem;
}

.counter button {
  width: 3rem;
}
